/* Basic styles for the page layout */
.healthBarHeartIcon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: -18px;
  top: -13px;
}

.healthBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.healthBar {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 15px;
  background-color: #ccc;
  margin-left: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

.healthBarFill {
  height: 100%;
  border-radius: 10px;
  background-color: red;
  transition: width 0.3s ease;
}

/* Flashcards container */
.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

/* Card container */
.card-container {
  margin-top: 1rem;
  position: relative;
  perspective: 1000px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* General Card styles */
.card {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  backface-visibility: hidden;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 1;
  user-select: none;
  font-size: 1.7rem;
}

/* Card flip effect */
.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  border: 2px solid black;
  border-radius: 10px;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

/* Card front and back */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: "SmallPixel";
}

.card-front-p,
.card-back-p {
  font-size: 2rem;
  margin: 80px;
  line-height: 35px;
}

.card-front {
  background-color: white;
}

.card-back {
  background-color: var(--pallete-highlight-beige);
  color: black;
  transform: rotateY(180deg);
}

/* Hidden cards are positioned off-screen */
.previous-card {
  transform: translateX(-100%);
}

.next-card {
  transform: translateX(100%);
}

/* Fade-out effect for transitions */
.fade-out {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

/* Carousel button styles */
.carousel-controls {
  margin-top: 20px;
}

.carousel-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-button:hover {
  background-color: #0056b3;
}

.displayNone {
  display: none;
}

.counterContainer {
  text-align: center;
  margin-top: 10px;
}

.counterText {
  font-family: "VCR";
  font-size: 1.2rem;
  text-align: center;
}

.navigationButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.arrow-button {
  width: 50px;
  height: 35px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.arrow-button:disabled {
  cursor: not-allowed;
}

.study-left-button {
  background-image: url(/images/pixel_art_graphics/UIs/buttons/arrow_button_left.png);
}

.study-left-button:disabled {
  background-image: url(/images/pixel_art_graphics/UIs/buttons/arrow_button_left_disabled.png);
}

.study-left-button:hover,
.study-right-button:hover {
  background-color: transparent;
}

.study-right-button {
  background-image: url(/images/pixel_art_graphics/UIs/buttons/arrow_button_right.png);
}

.study-right-button:disabled {
  background-image: url(/images/pixel_art_graphics/UIs/buttons/arrow_button_right_disabled.png);
}

/* Undo and Shuffle switch styles */
.extraButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.extraButtons button {
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  transition: background-color 0.3s;
}

.extraButtons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.extraButtons button:hover:not(:disabled) {
  background-color: #e53935;
}

/* Shuffle Switch styles */
.shuffleSwitch {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2em;
  color: #333;
}

.shuffleSwitch input {
  width: 40px;
  height: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.shuffleSwitch input:checked {
  background-color: #4caf50;
}

.shuffleSwitch input:not(:checked) {
  background-color: #ccc;
}

.shuffleSwitch label {
  font-weight: bold;
  color: #333;
}

.darkbackgroundContainer-wrapper {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .card-front-p,
  .card-back-p {
    font-size: 1.5rem;
    margin: 20px;
    line-height: 28px;
  }
}
