#dashboardPage-twoHalvesMiddleSection {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60vh;
}

#dashboardPage-shopIconContainer {
  display: flex;
  justify-content: left;
}

#dashboardPage-signBoardContainer {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#dashboardPage-signBoard {
  max-width: 40%;
  border-radius: 88px;
  border: 88px solid transparent; /* Reserve space for the border */
  border-image: url(/images/pixel_art_graphics/UIs/tilesets/wood_container.png)
    286 round;
  background-color: #8f563b;
  /* background-size: cover; */ /* Stretch the image to cover the container */
  /* background-repeat: no-repeat; */ /* Specify the image */
  border-image-outset: 0.2;
}

.logout-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  max-width: 100px;
}

.logout-button:hover,
.logout-button:focus {
  background-color: white;
  color: #f44336;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  max-width: 100px;
}

.logoutContainer {
  display: flex;
  max-width: 500px;
  padding: 30px;
  border-radius: 20px;
  flex-direction: column;
  text-align: left;
  background-color: rgb(252, 233, 191);
}

.pLogout {
  font-size: small;
  color: rgb(20, 19, 19);
}

.hLogout {
  color: rgb(20, 19, 19);
}

.cancelAndLogoutContainer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 10px;
  padding-top: 20px;
}
