#dashboardPage-twoHalvesMiddleSection {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
}

.logout-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  max-width: 100px;
}

.logout-button:hover,
.logout-button:focus {
  background-color: white;
  color: #f44336;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  max-width: 100px;
}

.logoutContainer {
  display: flex;
  max-width: 500px;
  padding: 30px;
  border-radius: 20px;
  flex-direction: column;
  text-align: left;
  background-color: rgb(252, 233, 191);
}

.pLogout {
  font-size: small;
  color: rgb(20, 19, 19);
}

.hLogout {
  color: rgb(20, 19, 19);
}

.cancelAndLogoutContainer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 10px;
  padding-top: 20px;
}

.islandContainer {
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.islandImage {
  width: 720px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.signboardContainer {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  #dashboardPage-twoHalvesMiddleSection {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }

  .islandImage {
    width: 400px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .signboardContainer {
    margin-top: 50px;
  }
}
