#openedDeckPage-cardsContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 5vw;
  gap: 10px;
  overflow: auto;
}

.openedDeckPage-cardPreview {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 3px solid var(--pallete-game-ui-dark-brown);
  font-family: "SmallPixel";
  font-size: 1.5rem;
}

.openedDeckPage-cardPreviewTerm {
  border-right: 2px solid #e6e6e690;
}

.openedDeckPage-cardPreviewDefinition {
  text-align: left;
}

.openedDeckPage-cardPreviewDefinition,
.openedDeckPage-cardPreviewTerm {
  padding: 5px 20px;
}

.deleteContainer {
  display: flex;
  max-width: 500px;
  padding: 30px;
  border-radius: 20px;
  flex-direction: column;
  text-align: left;
  background-color: rgb(252, 233, 191);
}

.pDelete {
  font-size: small;
  color: rgb(20, 19, 19);
}

.hDelete {
  color: rgb(20, 19, 19);
}

.cancelAndDeleteContainer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 10px;
  padding-top: 20px;
}

.openedDeck-description {
  font-family: "SmallPixel";
  font-size: 1.5rem;
}

.openedDeck-goToBattleButton {
  margin: 2rem auto;
  font-size: 2rem;
  padding: 5px 20px;
  border-radius: 5px;
}

.openedDeck-updateAndDeleteContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.openedDeck-button {
  font-size: 1.5rem;
  padding: 3px 15px;
}

.openedDeck-deletebutton:hover {
  background-color: tomato;
  color: white;
}

@media (max-width: 750px) {
  .openedDeckPage-cardPreview {
    grid-template-columns: 1fr;
  }
  .openedDeckPage-cardPreviewTerm {
    border-right: none;
    border-bottom: 2px solid #e6e6e690;
    height: auto;
    padding: 0px 20px;
  }
  #openedDeckPage-cardsContainer {
    margin: 20px 2vw;
  }
}
