.mainDeckEditingPage-deckInitialInputsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainDeckEditingPage-deckTitleInput {
  font-size: 2.5rem;
}
.mainDeckEditingPage-deckDescriptionInput {
  font-size: 1.5rem;
}

.mainDeckEditingPage-cardsContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  gap: 10px;
}

#mainDeckEditingPage-createButton {
  margin: 4rem auto 1rem auto;
  font-size: 2rem;
  padding: 5px 20px;
  border-radius: 5px;
}

.mainDeckEditingPage-inputsContainer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.mainDeckEditingPage-removeButton {
  max-width: 70px;
}

.mainDeckEditingPage-removeButton:focus,
.mainDeckEditingPage-removeButton:hover {
  background-color: tomato;
  color: white;
}

.mainDeckEditingPage-buttonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.mainDeckEditingPage-moveUpButton,
.mainDeckEditingPage-moveDownButton,
.mainDeckEditingPage-removeButton {
  font-family: "SmallPixel";
  font-size: 1rem;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.mainDeckEditingPage-moveUpButton:disabled,
.mainDeckEditingPage-moveDownButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.mainDeckEditingPage-addButton {
  font-size: 2rem;
  padding: 10px 0px;
}

@media (max-width: 768px) {
  .mainDeckEditingPage-deckTitleInput {
    font-size: 1.5rem;
  }
  .mainDeckEditingPage-inputsContainer {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}
