.mainDeckEditingPage-deckInitialInputsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainDeckEditingPage-deckTitleInput {
  font-size: 2.5rem;
}
.mainDeckEditingPage-deckDescriptionInput {
  font-size: 1.5rem;
}

.mainDeckEditingPage-cardsContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  gap: 10px;
  overflow: auto;
}

#mainDeckEditingPage-createButton {
  margin: 2rem auto;
  font-size: 2rem;
  padding: 5px 20px;
  border-radius: 5px;
}

.mainDeckEditingPage-inputsContainer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.mainDeckEditingPage-removeButton {
  max-width: 70px;
}

.mainDeckEditingPage-removeButton:focus,
.mainDeckEditingPage-removeButton:hover {
  background-color: tomato;
  color: white;
}

@media (max-width: 1000px) {
  .mainDeckEditingPage-inputsContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
