.mainDeckEditingPage-deckInitialInputsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainDeckEditingPage-cardsContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  gap: 10px;
  overflow: auto;
}

#mainDeckEditingPage-createButton {
  margin: 2rem auto;
  font-size: 2rem;
  padding: 5px 20px;
  border-radius: 5px;
}

.mainDeckEditingPage-inputsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mainDeckEditingPage-removeContainer {
  max-width: 70px;
}
