#root {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.main-container {
  width: 70vw;
  height: 100%;
  background-color: lightcyan;
  text-align: center;
}

.iconTextButtons {
  width: 60px;
  height: 80px;
  background-color: lightgoldenrodyellow;
}

img {
  max-width: 100%;
}

h1 {
  font-family: "PixelifySans";
  margin: 0;
  font-size: 2.7rem;
  text-align: left;
}

p {
  margin: 0;
  padding: 0;
}
