#root {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.page {
  background-image: url("/images/pixel_art_graphics/backgrounds/calm_background.gif");
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.pageUnscrollable {
  height: 100%;
}

.movingClouds {
  background-image: url("/images/pixel_art_graphics/backgrounds/movingclouds.gif");
}

.center_x_y_container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px 0px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.titleREBYU {
  background-image: url("/images/pixel_art_graphics/backgrounds/title.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 120px;
}

.main-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  text-align: center;
  z-index: 5;
}

.iconTextButtons {
  width: 60px;
  height: 80px;
  background-color: lightgoldenrodyellow;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--pallete-cloud-blue);
}

button {
  background-color: #f0f0f0;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
  font-family: "SmallPixel";
}

#audio-button {
  position: fixed;
  right: 0;
  bottom: 0;
  border: none;
  background-color: transparent;
  margin: 10px;
  /* background-image: url(/images/pixel_art_graphics/UIs/buttons/audio_button_off.png); */
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.audio-button-on {
  background-image: url(/images/pixel_art_graphics/UIs/buttons/audio_button_on.png);
}

.audio-button-off {
  background-image: url(/images/pixel_art_graphics/UIs/buttons/audio_button_off.png);
}

input,
textarea {
  font-family: "SmallPixel";
  font-size: 1.3rem;
  border-radius: 3px;
  border: 2px solid black;
  padding-left: 10px;
}

textarea {
  width: 100%;
  min-height: 50px; /* Set a minimum height */
  resize: none; /* Prevent manual resizing */
  overflow: hidden; /* Hide the scrollbar */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

button:hover,
button:focus,
input:focus,
textarea:focus {
  background-color: #faeec5;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-family: "SG12";
  margin: 0;
  text-align: left;
}
h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2rem;
  font-family: "SG12";
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
  font-family: "SmallPixel";
  margin: 10px 0px;
  text-align: left;
}

p {
  margin: 0;
  padding: 0;
  font-family: "SmallPixel";
  font-size: 1.3rem;
  text-align: left;
}

.pMessage {
  font-size: 1.3rem;
  color: rgb(20, 19, 19);
  line-height: 1.3rem;
}

.hMessage {
  color: rgb(20, 19, 19);
}

li {
  font-family: "SmallPixel";
  font-size: 1.3rem;
  text-align: left;
}

code {
  font-family: "Courier New";
  font-size: 0.8rem;
  background-color: rgb(36, 35, 35);
  color: white;
  padding: 2px 5px;
  border-radius: 4px;
}

span {
  text-decoration: underline;
}

.stacked-div {
  grid-area: 1 / 1;
}

.error {
  border: 2px solid tomato;
}

@media (min-width: 768px) {
  .titleREBYU {
    width: 500px;
    height: 220px;
  }
}

@media (max-width: 768px) {
  .pageUnscrollable {
    height: auto;
  }

  .pageHeightFull {
    height: 100%;
  }
}
