.signup-form-labels {
  font-size: 1.5rem;
  font-family: "SmallPixel";
}

.form-title {
  text-align: center;
}

@media (max-width: 635px) {
  .form-title {
    font-size: 1.8rem;
  }
  .signup-form-labels {
    font-size: 1rem;
    margin-top: 10px;
  }
}

.mainForm {
  display: flex;
  flex-direction: column;
}

.formContainer {
  width: 100%;
}
