.signup-form-labels {
  font-size: 1.5rem;
  font-family: "SmallPixel";
}

.form-title {
  text-align: center;
}

@media (max-width: 635px) {
  .form-title {
    font-size: 1.8rem;
  }
  .signup-form-labels {
    font-size: 1rem;
    margin-top: 10px;
  }
}

.mainForm {
  display: flex;
  flex-direction: column;
}

.formContainer {
  width: 100%;
}

.auth-error-message {
  color: red;
  text-align: center;
  margin-top: 1rem;
  font-family: "SmallPixel";
  font-size: 1.2rem;
  max-width: 360px;
}

#user_password::-ms-reveal,
#user_password::-ms-clear,
#user_password::-webkit-clear-button,
#user_password::-webkit-inner-spin-button,
#user_password::-webkit-calendar-picker-indicator,
#user_password::-webkit-password-toggle-button {
  display: none; /* Hides the default browser-provided toggle */
}
