.deck {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 180px;
  height: 280px;
  color: black;
  font-family: "PixelifySans";
  cursor: pointer;
  place-items: center;
}

.deck-container {
  border-width: 55px;
  border-style: solid;
  border-image-source: url(/images/pixel_art_graphics/UIs/tilesets/card_front_tileset.png);
  border-image-slice: 130;
  border-image-repeat: round;
  border-image-outset: 0.09;
  background-color: #ffe8b5;
  width: 50%;
  padding: 80px 0px;
  box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.457);
}
