@keyframes slide-up-paper {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}

#dashboardPage-signBoardContainer {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  max-width: fit-content;
  transform-origin: center bottom; /* Fold starts from the bottom */
  animation: slide-up-paper 0.5s ease-in-out forwards;
  animation-direction: reverse;
}

.signboard-stackedDiv {
  grid-area: 1 / 1;
}

#signBoard-container {
  padding: 220px 11vw;
  border-radius: 100px;
  border: 44px solid transparent; /* Reserve space for the border */
  border-image: url(/images/pixel_art_graphics/UIs/tilesets/paper_tileset.png)
    143 round;
  background-color: #eec39a;
  border-image-outset: 0.2;
}

#signBoard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 21px;
}

.dashboardPage-navButtons {
  display: grid;
  width: 100%;
  cursor: pointer;
}

.signBoardButton-container {
  margin: 0px 3vw;
  border: 44px solid transparent; /* Reserve space for the border */
  border-image: url(/images/pixel_art_graphics/UIs/tilesets/square_tileset.png)
    143 round;
  border-image-outset: 0.2;
  background-color: #eec39a;
}

.signBoardButton-content {
  margin: 10px 3vw;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding: 30px;
}

.signboard-button-create {
  background-image: url(/images/pixel_art_graphics/UIs/buttons/Create.png);
}
.signboard-button-create:hover {
  background-color: transparent;
  background-image: url(/images/pixel_art_graphics/UIs/buttons/Create_hovered.png);
}

.signboard-button-decks {
  background-image: url(/images/pixel_art_graphics/UIs/buttons/Decks.png);
}
.signboard-button-decks:hover {
  background-color: transparent;
  background-image: url(/images/pixel_art_graphics/UIs/buttons/Decks_hovered.png);
}

.signboard-button-about {
  background-image: url(/images/pixel_art_graphics/UIs/buttons/About.png);
}
.signboard-button-about:hover {
  background-color: transparent;
  background-image: url(/images/pixel_art_graphics/UIs/buttons/About_hovered.png);
}

@media (max-width: 768px) {
  #signBoard-container {
    padding: 170px 15vw;
  }
  .dashboardPage-navButtons {
    width: 80%;
  }
}
