.standard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  height: auto;
  background-color: #eec39a;
  border-radius: 88px;
  border: 88px solid transparent; /* Reserve space for the border */
  border-image: url(/images/pixel_art_graphics/UIs/tilesets/standard_container.png)
    286 stretch;
  /* background-size: cover; */ /* Stretch the image to cover the container */
  /* background-repeat: no-repeat; */ /* Specify the image */
  border-image-outset: 0;
  font-family: SmallPixel;
  gap: 2rem;
}

@media (max-width: 685px) {
  .standard-container {
    gap: 0.8rem;
  }
}
